
/*center images*/
.example-image{
	vertical-align: middle;
	position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}

/* Style the title links */
#title-links a{
	color:black;
	text-decoration: none;
}

.snippet-text-section{
	height: 37px;
	position: absolute;
	bottom: 0px;
	width: 93.7%;
}

.archive-date{
	margin-bottom: 0px;
	padding-top: 5px
}